{# Footer  #}
<footer id="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="footer-info">
						<h3>Garage V.PARROT</h3>
						<p>Bienvenue sur notre site</p>
						<div class="social-links mt-3">
							<a href="#" class="twitter">
								<i class="bx bxl-twitter"></i>
							</a>
							<a href="#" class="facebook">
								<i class="bx bxl-facebook"></i>
							</a>
							<a href="#" class="instagram">
								<i class="bx bxl-instagram"></i>
							</a>
							<a href="#" class="google-plus">
								<i class="bx bxl-skype"></i>
							</a>
							<a href="#" class="linkedin">
								<i class="bx bxl-linkedin"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 footer-links">
					<h3>Horaires d'ouvertures</h3>
					<ul>
						<li>✅ Lun 08:00 - 12:00 , 14:00 - 18:00</li>
						<li>✅ Mar 08:00 - 12:00 , 14:00 - 18:00</li>
						<li>✅ Mer 08:00 - 12:00 , 14:00 - 18:00</li>
						<li>✅ Jeu 08:00 - 12:00 , 14:00 - 18:00</li>
						<li>✅ Ven 08:00 - 12:00 , 14:00 - 18:00</li>
						<li>✅ Sam 08:00 - 12:00</li>
						<li>❌ Dim Fermé</li>
					</ul>
				</div>

				<div class="col-lg-4 col-md-6">
					<h3>Contactez-nous</h3>
					<div class="info">
						<div class="address">
							<i class="bi bi-geo-alt"><h4>Adresse:</h4></i>
							<p>
								A108 RUE INCONNUE
								<br/>
								73000, CHAMBERY
							</p>
						</div>

						<div class="email">
							<i class="bi bi-envelope"><h4>Mail :</h4></i>
							<p>info@quai_antique.com</p>
						</div>

						<div class="phone">
							<i class="bi bi-phone"><h4>Téléphone :</h4></i>
							<p>+1 5589 55488 55s</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="copyright">
			&copy; Copyright
			<strong>
				<span>Garage V.PARROT</span>
			</strong>. Tous droits réservés | Ce site est fait par
			<strong>
				<span>Walid FTAIMIA</span>
			</strong>
		</div>
	</div>
	{# End Footer  #}
