{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
    <!-- ======= accueil Section ======= -->
    <section id="carscatalogue" class="d-flex align-items-center">
        <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
            <div class="row">
                <div class="d-felx text-center">
                    <h2>
                        Explorez notre catalogue exclusif de voitures à vendre, une sélection soigneusement choisie pour répondre à vos exigences. Découvrez des modèles variés, des performances remarquables et des véhicules de qualité supérieure. Trouvez la voiture de vos rêves parmi notre collection et embarquez pour une expérience de conduite inégalée.
                    </h2>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- End Accueil -->
    <section class="cars">
        <div class="section-title d-flex justify-content-center">
            <p>Notre gamme des voitures</p>
        </div>
        <div class="container js-filter">
            <div class="row">
                <div class="col-md-3 ">
                    <div class="car-wrap rounded">
                        {% include 'pages/cars/_filter.html.twig' %}
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row js-filter-content">
                    {% include 'pages/cars/cars_list.html.twig' %}
                        <div class="pagination justify-content-center mt-4 js-filter-pagination" >
                            {{ knp_pagination_render(cars) }}
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
{% endblock %}

