{% extends 'base.html.twig' %}

{% block title %}Services
{% endblock %}

{% block body %}

	<section id="services" class="d-flex align-items-center">
		<div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
			<div class="row d-flex align-items-end">
				<h2>Consultez nos services</h2>
			</div>
		</div>
	</section>
	<section>
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<p class="d-flex justify-content-center">Nos services</p>
			</div>
		</div>
		<div class="container" data-aos="fade-up">
			<div class="row">
            
			{% for service in service %}
				<div class="col-lg-4 col-md-6 mb-4">
					<div class="card" style="width: 18rem">
						<img src={{ service.picture }} class="card-img-top" alt={{ service.picture }}/>
						<div class="card-body">
							 <h5 class="card-title">{{ service.title }}</h5>
							<p>{{ service.description }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
            
			</div>
		</div>
	</section>


{% endblock %}
