@import "~bootstrap/scss/bootstrap";
@import '../css/app.scss';

$color_1: #fff;
$color_2: #4DE240;
$color_3: #1a1814;
$color_4: #444444;
$color_5: #1182A6;
$color_6: white;
$color_7: rgba(255, 255, 255, 0.5);
$color_8: #5ecd7f;
$color_9: #eee;
$color_10: #aaaaaa;
$color_11: rgba(255, 255, 255, 0.6);
$color_12: #1089ff;
$color_13: rgba(0, 0, 0, 0.3);
$color_14: #000000;
$color_15: rgba(0, 0, 0, 0.2);
$color_16: rgba(0, 0, 0, 0.4);
$color_17: #01d28e;
$color_18: red;
$color_19: #b3b3b3;
$color_20: gray;
$color_21: #0d0d0d;
$color_22: #0c0b09;
$font-family_1: 'Hind Madurai', sans-serif;
$font-family_2: 'Lora', serif;
$font-family_3: "Poppins", sans-serif;
$font-family_4: "Playfair Display", serif;
$background-color_1: #fff;
$background-color_2: rgba(4, 4, 4, 0.4);
$background-color_3: #4DE240;
$border-color_1: #4DE240;

@import "~bootstrap/scss/bootstrap";
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
@-webkit-keyframes animate-preloader {
	 0% {
		 transform: rotate(0deg);
	}
	 100% {
		 transform: rotate(360deg);
	 }
}

@keyframes animate-preloader {
	 0% {
		 transform: rotate(0deg);
	}
	 100% {
		 transform: rotate(360deg);
	 }
}
/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Button Connexion
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
/**
  * Mobile Navigation 
  */
/*--------------------------------------------------------------
# Accueil Section
--------------------------------------------------------------*/
@-webkit-keyframes pulsate-btn {
	0% {
		transform: scale(0.6, 0.6);
		opacity: 1;
	}
	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}
@keyframes pulsate-btn {
	0% {
		transform: scale(0.6, 0.6);
		opacity: 1;
	}
	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}
/*--------------------------------------------------------------
# About section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
  # Specials Section
  --------------------------------------------------------------*/
/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Car Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Car Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*--------------------------------------------------------------
# Button submit
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
body {
	font-family: $font-family_1;
	background: #fff;
	color: $color_1;
}
a {
	color: $color_2;
	text-decoration: none;
	&:hover {
		color: $color_2;
		text-decoration: none;
	}
}
h1 {
	font-family: $font-family_2;
}
h2 {
	font-family: $font-family_2;
}
h3 {
	font-family: $font-family_2;
}
h4 {
	font-family: $font-family_2;
}
h5 {
	font-family: $font-family_2;
}
h6 {
	font-family: $font-family_2;
}

	#preloader {
		 position: fixed;
		 top: 0;
		 left: 0;
		 right: 0;
		 bottom: 0;
		 z-index: 9999;
		 overflow: hidden;
		 background: #1a1814;
		&:before {
			 content: "";
			 position: fixed;
			 top: calc(50% - 30px);
			 left: calc(50% - 30px);
			 border: 6px solid #1a1814;
			 border-top-color: #4DE240;
			 border-bottom-color: #4DE240;
			 border-radius: 50%;
			 width: 60px;
			 height: 60px;
			 -webkit-animation: animate-preloader 1s linear infinite;
			 animation: animate-preloader 1s linear infinite;
		}
	}

.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	width: 44px;
	height: 44px;
	border-radius: 50px;
	transition: all 0.4s;
	border: 2px solid #4DE240;
	i {
		font-size: 28px;
		color: $color_2;
		line-height: 0;
	}
	&:hover {
		background: #4DE240;
		color: $color_3;
		i {
			color: $color_4;
		}
	}
}
.back-to-top.active {
	visibility: visible;
	opacity: 1;
}
section {
	padding: 60px 0;
	overflow: hidden;
}
.section-bg {
	background-color: $background-color_1;
}
.section-title {
	padding-bottom: 40px;
	h2 {
		font-size: 14px;
		font-weight: 500;
		padding: 0;
		line-height: 1px;
		margin: 0 0 5px 0;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $color_5;
		font-family: $font-family_3;
		&::after {
			content: "";
			width: 120px;
			height: 1px;
			display: inline-block;
			background: rgba(255, 255, 255, 0.2);
			margin: 4px 10px;
		}
	}
	p {
		margin: 0;
		margin: 0;
		font-size: 36px;
		font-weight: 700;
		font-family: $font-family_4;
		color: $color_5;
	}
}
#topbar {
	height: 40px;
	font-size: 14px;
	transition: all 0.5s;
	z-index: 996;
	.contact-info {
		i {
			font-style: normal;
			color: $color_2;
			span {
				padding-left: 5px;
				color: $color_1;
			}
		}
	}
	.languages {
		ul {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			padding: 0;
			margin: 0;
			color: $color_2;
			a {
				color: $color_6;
			}
			li {
				+ {
					li {
						padding-left: 10px;
						&::before {
							display: inline-block;
							padding-right: 10px;
							color: $color_7;
							content: "/";
						}
					}
				}
			}
		}
	}
}
#topbar.topbar-scrolled {
	top: -40px;
}
#header {
	background: transparent;
	transition: all 0.5s;
	z-index: 997;
	padding: 15px 0;
	top: 40px;
	.logo {
		font-size: 28px;
		margin: 0;
		padding: 0;
		line-height: 1;
		font-weight: 300;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-family: $font-family_3;
		a {
			color: $color_1;
		}
		img {
			max-height: 40px;
		}
	}
}
#header.header-scrolled {
	top: 0;
	background: rgba(0, 0, 0, 0.85);
	border-bottom: 1px solid #37332a;
}
.connexion-btn {
	margin: 0 0 0 15px;
	border: 2px solid #4DE240;
	color: $color_1;
	border-radius: 50px;
	padding: 8px 25px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
	transition: 0.3s;
	&:hover {
		background: #4DE240;
		color: $color_1;
	}
}
.navbar {
	padding: 0;
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
		align-items: center;
	}
	li {
		position: relative;
		&:hover {
			>a {
				color: $color_2;
			}
		}
	}
	a {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0 10px 30px;
		color: $color_1;
		white-space: nowrap;
		transition: 0.3s;
		font-size: 14px;
		i {
			font-size: 12px;
			line-height: 0;
			margin-left: 5px;
		}
		&:hover {
			color: $color_2;
		}
	}
	.active {
		color: $color_2;
	}
}
.mobile-nav-toggle {
	color: $color_1;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}
.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.9);
	transition: 0.3s;
	z-index: 999;
	.mobile-nav-toggle {
		position: absolute;
		top: 15px;
		right: 15px;
	}
	ul {
		display: block;
		position: absolute;
		top: 55px;
		right: 15px;
		bottom: 15px;
		left: 15px;
		padding: 10px 0;
		border-radius: 6px;
		background-color: $background-color_1;
		overflow-y: auto;
		transition: 0.3s;
	}
	a {
		padding: 10px 20px;
		font-size: 15px;
		color: $color_3;
		&:hover {
			color: $color_2;
		}
	}
	.active {
		color: $color_2;
	}
	li {
		&:hover {
			>a {
				color: $color_2;
			}
		}
	}
	.getstarted {
		margin: 15px;
	}
	.dropdown {
		ul {
			position: static;
			display: none;
			margin: 10px 20px;
			padding: 10px 0;
			z-index: 99;
			opacity: 1;
			visibility: visible;
			background: #fff;
			box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
			li {
				min-width: 200px;
				&:hover {
					>a {
						color: $color_2;
					}
				}
			}
			a {
				padding: 10px 20px;
				i {
					font-size: 12px;
				}
				&:hover {
					color: $color_2;
				}
			}
			.active {
				&:hover {
					color: $color_2;
				}
			}
		}
		>.dropdown-active {
			display: block;
		}
	}
}
#accueil {
	width: 100%;
	height: 100vh;
	background: url("../images/bg_1.jpg") top center;
	background-size: cover;
	position: relative;
	padding: 0;
	&:before {
		content: "";
		background: rgba(0, 0, 0, 0.5);
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}
	.container {
		padding-top: 110px;
	}
	h1 {
		margin: 0;
		font-size: 48px;
		font-weight: 700;
		line-height: 56px;
		color: $color_1;
		font-family: $font-family_3;
		span {
			color: $color_8;
		}
	}
	h2 {
		color: $color_9;
		margin-bottom: 10px 0 0 0;
		font-size: 22px;
	}
	.btns {
		margin-top: 30px;
	}
	.btn-menu {
		font-weight: 600;
		font-size: 13px;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		display: inline-block;
		padding: 12px 30px;
		border-radius: 50px;
		transition: 0.3s;
		line-height: 1;
		color: $color_6;
		border: 2px solid #4DE240;
		&:hover {
			background: #4DE240;
			color: $color_1;
		}
	}
	.btn-book {
		font-weight: 600;
		font-size: 13px;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		display: inline-block;
		padding: 12px 30px;
		border-radius: 50px;
		transition: 0.3s;
		line-height: 1;
		color: $color_6;
		border: 2px solid #4DE240;
		margin-left: 15px;
		&:hover {
			background: #4DE240;
			color: $color_1;
		}
	}
}
.about {
	background: url("../images/about.jpg") center center;
	background-size: cover;
	position: relative;
	padding: 80px 0;
	&:before {
		content: "";
		background: rgba(0, 0, 0, 0.8);
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}
	.about-img {
		position: relative;
		transition: .5s;
		img {
			max-width: 100%;
			border: 4px solid rgba(255, 255, 255, 0.2);
			position: relative;
		}
		&::before {
			position: absolute;
			left: 20px;
			top: 20px;
			width: 60px;
			height: 60px;
			z-index: 1;
			content: '';
			border-left: 5px solid #4DE240;
			border-top: 5px solid #4DE240;
			transition: .5s;
		}
		&::after {
			position: absolute;
			right: 20px;
			bottom: 20px;
			width: 60px;
			height: 60px;
			z-index: 2;
			content: '';
			border-right: 5px solid #4DE240;
			border-bottom: 5px solid #4DE240;
			transition: .5s;
		}
		&:hover {
			transform: scale(1.03);
			&::before {
				left: 10px;
				top: 10px;
			}
			&::after {
				right: 10px;
				bottom: 10px;
			}
		}
	}
	.content {
		h3 {
			font-weight: 600;
			font-size: 26px;
		}
		ul {
			list-style: none;
			padding: 0;
			li {
				padding-bottom: 10px;
			}
			i {
				font-size: 20px;
				padding-right: 4px;
				color: $color_2;
			}
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.specials {
	overflow: hidden;
	.nav-tabs {
		border: 0;
	}
	.nav-link {
		border: 0;
		padding: 12px 15px;
		transition: 0.3s;
		color: $color_1;
		border-radius: 0;
		border-right: 2px solid #4DE240;
		font-weight: 600;
		font-size: 15px;
		&:hover {
			color: $color_2;
			border-color: $border-color_1;
		}
	}
	.nav-link.active {
		color: $color_3;
		background: #4DE240;
		border-color: $border-color_1;
	}
	.tab-pane.active {
		-webkit-animation: fadeIn 0.5s ease-out;
		animation: fadeIn 0.5s ease-out;
	}
	.details {
		h3 {
			font-size: 26px;
			font-weight: 600;
			margin-bottom: 20px;
			color: $color_1;
		}
		p {
			color: $color_10;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.gallery {
	.gallery-item {
		overflow: hidden;
		border-right: 3px solid #454035;
		border-bottom: 3px solid #454035;
		img {
			transition: all ease-in-out 0.4s;
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}
}
.testimonials {
	.testimonial-item {
		box-sizing: content-box;
		min-height: 320px;
		.testimonial-img {
			width: 90px;
			border-radius: 50%;
			margin: -40px 0 0 40px;
			position: relative;
			z-index: 2;
			border: 6px solid rgba(255, 255, 255, 0.2);
		}
		h3 {
			font-size: 18px;
			font-weight: bold;
			margin: 10px 0 5px 45px;
			color: $color_6;
		}
		h4 {
			font-size: 14px;
			color: $color_11;
			margin: 0 0 0 45px;
		}
		.quote-icon-left {
			color: $color_2;
			font-size: 26px;
			display: inline-block;
			left: -5px;
			position: relative;
		}
		.quote-icon-right {
			color: $color_2;
			font-size: 26px;
			display: inline-block;
			right: -5px;
			position: relative;
			top: 10px;
		}
		p {
			font-style: italic;
			margin: 0 15px 0 15px;
			padding: 20px 20px 60px 20px;
			background: #26231d;
			position: relative;
			border-radius: 6px;
			position: relative;
			z-index: 1;
		}
	}
	.swiper-pagination {
		margin-top: 30px;
		position: relative;
		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			background-color: $background-color_2;
			opacity: 1;
		}
		.swiper-pagination-bullet-active {
			background-color: $background-color_3;
		}
	}
}
.car-wrap {
	margin-bottom: 40px;
	-webkit-box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06);
	-moz-box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06);
	background: #fff;
	.img {
		width: 100%;
		height: 220px;
	}
	.text {
		border-top: none;
		padding: 20px 30px 30px;
		.price {
			color: $color_12;
			margin-bottom: 0;
			font-weight: 600;
			span {
				font-size: 12px;
				font-weight: 400;
				color: $color_13;
			}
		}
		h2 {
			font-size: 20px;
			font-weight: 500;
			a {
				color: $color_14;
			}
		}
		span.cat {
			font-weight: 400;
			color: $color_15;
			display: block;
			margin-bottom: 0;
		}
		p.d-block {
			width: 100%;
			a {
				width: 50%;
			}
		}
	}
}
.ftco-car-details {
	.services {
		.media-body {
			.icon {
				span {
					color: $color_12;
				}
			}
			.text {
				h3 {
					font-size: 14px !important;
					color: $color_16;
					span {
						display: block;
						color: $color_14;
					}
				}
			}
		}
	}
}
.car-details {
	.img {
		width: 100%;
		height: 600px;
		margin-bottom: 40px;
	}
	span.subheading {
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 2px;
		color: $color_16;
		display: block;
	}
}
.nav-pills {
	font-size: 18px;
	font-weight: 400;
	display: inline-block;
	li {
		display: inline-block;
		a {
			margin-right: 2px;
			color: $color_16 !important;
		}
		a.active {
			color: $color_12 !important;
			background: transparent !important;
		}
	}
}
.pills {
	margin-top: 40px;
	.tab-pane {
		padding: 2em;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	.features {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			span {
				font-size: 20px;
				margin-right: 15px;
			}
		}
		li.check {
			span {
				color: $color_17;
			}
		}
		li.remove {
			span {
				color: $color_18;
			}
		}
	}
	.head {
		font-size: 18px;
		margin-bottom: 30px;
		font-weight: 600;
	}
	.review {
		width: 100%;
		margin-bottom: 30px;
		.user-img {
			width: 80px;
			height: 80px;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			border-radius: 50%;
		}
		.desc {
			width: calc(100% - 100px);
			margin-left: 30px;
			h4 {
				width: 100%;
				margin-bottom: 10px;
				span {
					width: 49%;
					display: inline-block;
					&:first-child {
						font-size: 16px;
					}
					&:last-child {
						font-size: 13px;
						color: $color_19;
					}
				}
			}
			.star {
				width: 100%;
				span {
					width: 49%;
					display: inline-block;
				}
				i {
					color: $color_17;
				}
				.reply {
					padding: 2px 10px;
					background: #f0f0f0;
					-webkit-border-radius: 2px;
					-moz-border-radius: 2px;
					-ms-border-radius: 2px;
					border-radius: 2px;
					i {
						color: $color_20;
						font-size: 12px;
					}
				}
			}
		}
	}
	.wrap {
		padding: 2em;
		background: #fafafa;
	}
	.rating-wrap {
		width: 100%;
		display: block;
		.star {
			display: block;
			width: 100%;
			&:last-child {
				margin-bottom: 0;
			}
			span {
				display: inline-block;
				color: $color_19;
				i {
					color: $color_12;
				}
				&:first-child {
					width: 62%;
				}
				&:last-child {
					width: 32%;
				}
			}
		}
	}
}
.car-list {
	overflow-x: scroll;
}
.contact {
	.info {
		width: 100%;
		i {
			font-size: 20px;
			float: left;
			width: 44px;
			height: 44px;
			background: #4DE240;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50px;
			transition: all 0.3s ease-in-out;
		}
		h4 {
			padding: 0 0 0 60px;
			font-size: 18px;
			font-weight: 500;
			margin-bottom: 5px;
			font-family: $font-family_3;
		}
		p {
			padding: 0 0 0 60px;
			margin-bottom: 0;
			font-size: 15px;
			color: $color_21;
		}
		.open-hours {
			margin-top: 40px;
		}
		.email {
			margin-top: 40px;
		}
		.phone {
			margin-top: 40px;
		}
	}
	.email-form {
		width: 100%;
		.form-group {
			padding-bottom: 8px;
		}
	}
}
.envoyer-btn {
	margin: 0 0 0 15px;
	border: 2px solid #4DE240;
	color: $color_22;
	border-radius: 50px;
	padding: 8px 25px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 1px;
	transition: 0.3s;
	&:hover {
		background: #4DE240;
		color: $color_1;
	}
}
#footer {
	background: black;
	padding: 0 0 30px 0;
	color: $color_1;
	font-size: 14px;
	.footer-top {
		background: #0c0b09;
		border-top: 1px solid #37332a;
		border-bottom: 1px solid #28251f;
		padding: 60px 0 30px 0;
		.footer-info {
			margin-bottom: 30px;
			h3 {
				font-size: 24px;
				margin: 0 0 20px 0;
				padding: 2px 0 2px 0;
				line-height: 1;
				font-weight: 300;
				text-transform: uppercase;
				font-family: $font-family_3;
			}
			p {
				font-size: 14px;
				line-height: 24px;
				margin-bottom: 0;
				font-family: $font-family_4;
				color: $color_1;
			}
		}
		.social-links {
			a {
				font-size: 18px;
				display: inline-block;
				background: #28251f;
				color: $color_1;
				line-height: 1;
				padding: 8px 0;
				margin-right: 4px;
				border-radius: 50%;
				text-align: center;
				width: 36px;
				height: 36px;
				transition: 0.3s;
				&:hover {
					background: #4DE240;
					color: $color_1;
					text-decoration: none;
				}
			}
		}
		h4 {
			font-size: 16px;
			font-weight: 600;
			color: $color_1;
			position: relative;
			padding-bottom: 12px;
		}
		.footer-links {
			margin-bottom: 30px;
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				i {
					padding-right: 2px;
					color: $color_2;
					font-size: 18px;
					line-height: 1;
				}
				li {
					padding: 10px 0;
					display: flex;
					align-items: center;
					&:first-child {
						padding-top: 0;
					}
				}
				a {
					color: $color_1;
					transition: 0.3s;
					display: inline-block;
					line-height: 1;
					&:hover {
						color: $color_2;
					}
				}
			}
		}
	}
	.copyright {
		text-align: center;
		padding-top: 30px;
	}
}
@media screen and (max-width: 768px) {
	[data-aos-delay] {
		transition-delay: 0 !important;
	}
}
@media (max-width: 992px) {
	.connexion-btn {
		margin: 0 15px 0 0;
		padding: 8px 20px;
	}
	#accueil {
		.container {
			padding-top: 98px;
		}
	}
	.specials {
		.nav-link {
			border: 0;
			padding: 15px;
		}
	}
	.envoyer-btn {
		margin: 0 15px 0 0;
		padding: 8px 20px;
	}
}
@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}
	.navbar {
		ul {
			display: none;
		}
	}
}
@media (min-width: 1024px) {
	#accueil {
		background-attachment: fixed;
	}
	.about {
		background-attachment: fixed;
	}
}
@media (max-height: 500px) {
	#accueil {
		height: auto;
		.container {
			padding-top: 130px;
			padding-bottom: 60px;
		}
	}
}
@media (max-width: 768px) {
	#accueil {
		h1 {
			font-size: 28px;
			line-height: 36px;
		}
		h2 {
			font-size: 18px;
			line-height: 24px;
		}
	}
}
